<%- include("partials/header"); -%>

<h1>Home</h1>

<p><%= startingContent  %></p>


<% for (var i = 0; i < posts.length; i++) { %>
      <%  var obj = posts[i];  %>
      <h1> <%= obj.title %> </h1>

      <p> <%= obj.content.substring(1, 100) + "... " %> <a href="http://localhost:3000/posts/<%=posts[i].title%>" > Read me</a></p>
<% } %>


<!-- OR -->
<!-- posts.forEach(function(post){
  <h1> obj.title %> </h1>
  <p>  obj.content %> </p>
}) -->

<%- include("partials/footer"); -%>
